{% load static %}
<div id="footer-section" class="footer-clean">
    <footer>
        <div class="container">
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-sm-5 col-md-6 item"><img class="img-fluid"
                        src="{% static 'img/FEM%20Family%20Church%20Halo_Red.png' %}" width="100"
                        style="margin-bottom: 8px;">
                    <p style="font-size: 25px;font-weight: 600;">A House of Prayer for all Nations.<br></p>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>SERVICE DETAILS</h3>
                    <p style="font-size: 14px;">Our Sunday service takes place every week from 09:00 am to 10:30 am.
                        Services are also broadcasted LIVE on our YouTube channel</p>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>GET IN TOUCH</h3>
                    <ul>
                        <li><a href="#">Office Line: +213513243</a></li>
                        <li><a href="#">E-mail: fem@mail.com</a></li>
                        <li><a href="#">Headquarters: Lang'ata Road, Nairobi, Kenya</a></li>
                    </ul>
                </div>
                <div class="col-xl-12">
                    <hr>
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="100%" height="200px" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=FEM%20FAMILY%20CHURCH&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 200px;
                                    width: 100%;
                                }
                            </style>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 200px;
                                    width: 100%;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center item social" style="padding-left: 0;">
                    <a href="https://www.facebook.com/faithevangelisticministry" target="_blank">
                        <i class="icon ion-social-facebook"></i>
                    </a>
                    <!-- <a href="" target="_blank">
                        <i class="icon ion-social-twitter"></i>
                    </a> -->
                    <a href="https://www.instagram.com/faithevangelisticministries/?hl=en" target="_blank">
                        <i class="icon ion-social-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/@femfamilychurch7327/videos" target="_blank">
                        <i class="icon ion-social-youtube"></i>
                    </a>
                    <p class="d-xl-flex justify-content-xl-center copyright" id="year" style="padding-left: 15px;">Faith
                        Evangelistic Ministry © 2022 - All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>