{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="d-flex flex-column justify-content-between" id="chapter-section">
        <div id="overlay-chapter"></div>
        {% include "partials/_navbar.html" %}
        <div class="text-center" id="chapter-headings">
            <div class="container text-left">
                <h1 id="chapter-heading">{{ chapter.chapter_name }}</h1>
                <h4 class="text-uppercase" id="chapter-subheading">{{ chapter.subtitle | safe }}</h4>
            </div>
        </div>
    </section>
    <section id="chapter-content-section">
        <div class="container">
            <div class="row d-flex flex-row align-items-center" style="margin-bottom: 50px;">
                <div class="col-lg-7">
                    <p>{{ chapter.description | safe }}&nbsp;<br></p>
                </div>
                <div class="col" id="chapter-image"><img class="img-fluid" src="{{ chapter.pastor_photo.url }}"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="jumbotron" id="service-schedule">
                        <h1>Service plan</h1>
                        <p>{{ chapter.service_plan | safe }}</p><a class="btn btn-primary" role="button" id="custom-button" href="{{ chapter.url }}" target="_blank">Learn more about {{ chapter.chapter_name }}&nbsp;<i class="icon ion-ios-arrow-thin-right"></i></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 id="gallery-title">Image Gallery</h1>
                    <hr>
                </div>
            </div>
            <div class="row fbox3">
                {% if chapter.photo_1 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_1.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_1.url }}">
                    </a>
                </div>
                {% endif %}
                {% if chapter.photo_2 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_2.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_2.url }}">
                    </a>
                </div>
                {% endif %}
                {% if chapter.photo_3 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_3.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_3.url }}">
                    </a>
                </div>
                {% endif %}
                {% if chapter.photo_4 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_4.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_4.url }}">
                    </a>
                </div>
                {% endif %}
                {% if chapter.photo_5 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_5.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_5.url }}">
                    </a>
                </div>
                {% endif %}
                {% if chapter.photo_6 %}
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                    <a data-fancybox="gallery" data-caption="{{ chapter.chapter_name | upper }}" href="{{ chapter.photo_6.url }}">
                        <img class="img-fluid" src="{{ chapter.photo_6.url }}">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>
{% endblock content %}