html {
  scroll-behavior: smooth;
}

#hero-sermons, #hero-testimonies, #hero-beliefs, #hero-single-sermon, #hero-single-testimony, #hero-share-testimony, #watch-live-section, #main-giving-section, #ministers-section, #events-section, #books-section, #chapter-section, #new-member-section, #about-section {
  height: 35vh;
  background-image: url("../img/birds.png");
}

#overlay-testimonies, #overlay-single-sermon, #overlay-beliefs, #overlay-sermons, #overlay-single-testimony, #overlay-share-testimony, #overlay-watch-live, #main-giving-overlay, #overlay-ministers, #overlay-events, #overlay-books, #overlay-chapter, #overlay-new-member, #overlay-about {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35vh;
  content: "";
  background: rgb(251,249,249, 0.1);
  opacity: 0.30;
}

#hero {
  height: 100vh;
  background-image: url("../img/hello-i-m-nik-AC_mtXehWzo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.9);
  content: "";
  height: 100vh;
  opacity: 0.3;
}

#hero-title {
  font-family: Montserrat, sans-serif;
  color: rgb(255,255,255);
  font-size: 37px;
  font-weight: 900;
}

@media (max-width: 992px) {
  #hero-title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  #hero-title {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  #hero-title {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  #hero-title {
    font-size: 30px;
  }
}

#hero-card {
  background-color: rgb(252,174,1);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: #333;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 500ms ease-in-out 25ms;
}

#hero-card:hover {
  background-color: #9B3014;
  color: #fff;
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
  transition: all .5s ease;
}

#hero-card-title {
  font-family: Voces, cursive;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}

.navbar-light .navbar-brand {
  width: 134px;
  height: 134px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

#watch-live-btn {
  border-radius: 30px;
  width: 150px;
  color: #fff;
  font-weight: 700;
  background-color: #9B3014;
  border: 0px;
  transition: all .5s ease;
}

.navbar .icon.ion-android-radio-button-on {
  color: red;
}

#watch-live-btn:hover {
  background-color: #9B3014;
  color: #fff;
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
  transition: all .5s ease;
}

.nav.navbar-nav.mr-auto {
  font-weight: 500;
}

.nav.navbar-nav.ml-auto {
  font-weight: 500;
}

.navbar .nav-item {
  margin-right: 10px;
}

.dropdown-menu {
  border: 0px;
  box-shadow: 0px 0px 10px rgba(51,51,51, 0.33);
}

.dropdown-item:focus {
  background-color: rgba(155,48,20, 0.63);
  color: #fbf9f9;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  transition: opacity 600ms, visibility 600ms;
}

@media (max-width: 576px) {
  .navbar-light .navbar-brand {
    height: 110px;
    width: 100px;
  }
}

body {
  font-family: 'Voces';
  color: #333;
  background-color: #FBF9F9;
  font-weight: 500;
}

body.side-menu-visible #side-menu {
  transform: translateX(300px);
}

#side-menu {
  left: -300px;
  right: 0px;
}

.breadcrumb {
  background-color: #fbf9f9;
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.1);
}

#breadcrumbs {
  padding-top: 50px;
}

.breadcrumb-item a {
  color: rgb(155,48,20);
}

audio {
  width: 100%;
}

audio:focus {
  outline: none !important;
}

audio::-webkit-media-controls-enclosure, audio::-webkit-media-controls-panel {
  background-color: #FBF9F9;
  border-radius: 0px;
  padding-left: 0px;
}

.page-item {
  margin-right: 10px;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  font-weight: 600;
  background-color: #fff;
  border: 0px;
  box-shadow: 0px 0px 5px rgba(51,51,51,0.1);
  border-radius: 3px;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: unset;
}

.page-link:hover {
  z-index: 3;
  outline: 0;
  box-shadow: unset;
  z-index: 2;
  color: #FBF9F9;
  background-color: #9b2d14;
  text-decoration: none;
  border: 0px !important;
  border-color: unset !important;
}

.page-item.active .page-link {
  background-color: #9b2d14;
  color: #fbf9f9;
}

#pages {
  margin-top: 79px;
}

#read-more-link {
  color: rgb(155, 48, 20);
  padding: 0px;
}

#read-more-link:hover {
  text-decoration: underline;
}

#custom-button {
  color: #FBf9f9 !important;
  border: 0px;
  font-weight: 600;
  border-radius: 30px;
  transition: transform 500ms ease-in-out 25ms;
  padding-right: 3rem;
  padding-left: 3rem;
  outline: none;
  transition: all .5s ease;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat';
  background-color: #9B3014;
}

@media (max-width: 576px) {
  #custom-button {
    color: #FBf9f9 !important;
    border: 0px;
    font-weight: 600;
    border-radius: 30px;
    transition: transform 500ms ease-in-out 25ms;
    padding-right: 3rem;
    padding-left: 3rem;
    outline: none;
    transition: all .5s ease;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    background-color: #9B3014;
    font-size: 10px;
  }
}

#custom-button:hover {
  background-color: #9B3014;
  color: #fff;
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
  outline: none;
  transition: all .5s ease;
}

#custom-button:focus {
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
}

#sermon-summary:first-letter, #testimony-content:first-letter {
  float: left;
  width: 0.8em;
  font-size: 600%;
  font-family: algerian, courier;
  line-height: 60%;
}

.form-control {
  background: #fff;
  border-radius: 2px;
  outline: none;
  color: inherit;
  box-shadow: 0px 0px 33px rgba(51,51,51,0.2);
  background-color: #fbf9f9;
}

.form-control:focus {
  border: 2px solid rgba(155,48,20,0.2);
  border-color: rgba(155,48,20,0.2);
  box-shadow: 0 0 0 0.2rem rgb(155 48 20 / 25%);
}

label {
  font-size: 12px;
}

.video-container {
  position: relative;
  padding-bottom: 56%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  #ministers-heading, #beliefs-heading, #events-heading, #main-giving-heading, #sermons-heading, #share-testimony-heading, #main-sermon-heading, #single-main-testimony-heading, #all-testimonies-heading, #watch-live-heading, #main-sermon-heading, #books-heading, #about-heading {
    font-size: 20px !important;
  }
}

@media (max-width: 576px) {
  #ministers-subheading, #beliefs-subheading, #events-subheading, #main-giving-subheading, #sermons-subheading, #share-testimony-subtitle, #sermons-subheading, #shared-by-subheading, #all-testi-subheading, #watch-live-subheading, #books-subheading, #about-subheading {
    font-size: 12px !important;
  }
}

#our-chapters-title {
  color: rgb(155,48,20);
  font-size: 25px;
  font-weight: 600;
}

#chapter-card {
  border: 0px !important;
  background-color: #FBF9F9;
  margin-bottom: 3rem;
}

#chapter-card img {
  border-radius: 10px;
}

#chapter-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(155,48,20);
  font-size: 20px;
  font-family: Voces, cursive;
}

#our-chapters-subtitle {
  font-weight: 600;
  margin-bottom: 43px;
  font-size: 16px;
  text-transform: uppercase;
}

#service-times-section {
  background-color: rgba(155,48,20,0.04);
  background-image: url("../img/birds.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

#service-times-title {
  font-size: 25px;
  color: rgb(155,48,20);
  font-weight: 900;
}

@media (max-width: 576px) {
  #service-times-title {
    font-size: 20px !important;
    color: rgb(155,48,20);
    font-weight: 900;
  }
}

#founder-card .card-body {
  padding: 3rem;
}

#verse-of-day-blockquote {
  color: rgb(155,48,20);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(155,48,20, 0.7) !important;
}

#hero-paragraph {
  font-size: 25px;
  color: rgb(255,255,255);
}

#hero .img {
}

#new-member-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

#new-member-heading {
  color: rgb(155,48,20);
  font-size: 25px;
  font-weight: 600;
}

#new-member-subtitle {
  font-size: 16px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}

#chapter-image .img-fluid {
  border-radius: 5px;
  margin-bottom: 2rem;
}

.row.fbox3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#gallery-title {
  color: rgb(155,48,20);
  font-size: 25px;
  font-weight: 600;
}

#service-schedule, #books-jumbotron {
  background-color: rgba(155,48,20,0.04);
  background-image: url("../img/birds.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

#service-schedule h1, #books-heading h1, #about-heading {
  color: rgba(155,48,20) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

#books-heading {
  font-weight: 600;
  font-family: Voces, cursive;
  color: rgb(155,48,20);
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 25px;
}

#books-subheading, #about-subheading {
  font-size: 16px;
  font-family: 'PT Serif Caption', serif;
}

#book-card {
  border: 0px !important;
  background-color: #FBF9F9;
  margin-bottom: 2rem;
}

#founder-books-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

#book-title {
  color: rgb(155,48,20);
  font-size: 20px;
  font-family: Voces, cursive;
  font-weight: 600;
}

#book-card .img-fluid {
  border-radius: 5px;
}

#event-div {
  padding: 1rem;
  background-color: rgba(155,48,20,0.04);
  border-radius: 10px;
}

#event-card {
  background-color: #FBF9F9;
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  border: none;
  margin-bottom: 2rem;
}

#founder-image .img-fluid {
  border-radius: 5px;
  margin-bottom: 2rem;
}

#beliefs-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#beliefs-heading {
  color: rgb(155,48,20);
  font-family: 'The Girl Next Door', cursive;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#beliefs-subheading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

#belief-title {
  font-weight: 600;
  font-size: 40px;
  font-family: 'The Girl Next Door', cursive;
  color: rgb(155,48,20);
}

#belief-bible-v {
  color: rgb(155,48,20);
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 15px;
}

#belief-title {
  font-weight: 600;
  font-size: 20px;
  color: rgb(155,48,20);
  font-family: Montserrat, sans-serif;
}

.fbox3 > div[class*="col"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.fbox3 {
  margin: auto;
}

#chapter-heading {
  font-weight: 600;
  font-family: Voces, cursive;
  color: rgb(155,48,20);
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 25px;
}

#chapter-subheading {
  font-size: 16px;
  font-family: Voces, cursive;
  font-weight: 600;
}

#chapter-content-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fbox3 .img-fluid {
  border-radius: 10px;
}

#chapter-content-section p {
  line-height: 2;
}

#events-heading {
  font-size: 25px;
  font-weight: 600;
  color: rgb(155,48,20);
  font-family: Voces, cursive;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#events-subheading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Voces, cursive;
}

#events-list-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#single-event {
  background-color: #fbf9f9;
  box-shadow: 0px 0px 33px rgba(51,51,51,0.23);
  padding: 16px;
}

#event-details {
  opacity: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: #9b3014;
}

#event-date, #event-time, #event-location {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

#single-event-heading {
  font-size: 20px;
  color: rgb(155,48,20);
  font-family: Voces, cursive;
  font-weight: 600;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#founder-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(155,48,20,0.04);
}

#founder-image {
  width: 120%;
  height: 100%;
  object-fit: cover !important;
}

@media (min-width: 992px) {
  #founder-card #image-div {
    width: 330rem;
  }
}

#founder-card {
  background-color: rgb(252,174,1,0.5);
  border: 0px;
  box-shadow: 0px 0px 33px rgba(51,51,51,0.3);
}

#founder-heading {
  font-family: Voces, cursive;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #333;
}

#founder-name {
  color: rgb(155,48,20);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

#founder-description {
  color: #333;
}

#main-giving-heading {
  font-weight: 600;
  font-family: Voces, cursive;
  color: rgb(155,48,20);
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 40px !important;
}

#main-giving-subheading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Voces, cursive;
}

#upcoming-e-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#upcoming-e-title {
  color: rgb(155,48,20);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: voces;
  font-size: 25px;
}

#upcoming-e-subtitle {
  font-weight: 600;
  margin-bottom: 43px;
  font-size: 16px;
  text-transform: uppercase;
}

#giving-tabs-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#mpesa-card {
  background-color: #fbf9f9;
  border: 0px;
}

#causes-section {
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#causes-heading {
  color: rgb(155,48,20);
  font-family: Voces, cursive;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 25px;
}

#causes-subheading {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Voces, cursive;
}

#cause-card {
  background-color: #FBf9f9;
  box-shadow: 0px 0px 33px rgba(51, 51, 51, 0.23);
  border: 0px;
}

#cause-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(155,48,20);
  font-family: Voces, cursive;
}

.modal-dialog-scrollable .modal-body .modal-footer {
  border: 0px;
  background-color: #fbf9f9;
  box-shadow: 0px 0px 33px rgba(51, 51, 51, 0.23);
}

#modal-heading {
  font-size: 20px;
  color: rgb(155,48,20);
  font-weight: 600;
}

#giving-image-container::before {
  position: absolute;
  top: 50px;
  content: "See What God Can Do Through Your Giving";
  font-size: 15px;
  text-align: center;
  font-family: 'The Girl Next Door';
  font-weight: 900;
  transform: translateZ(30px);
}

#our-branches-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/birds.png");
}

#beliefs-title {
  color: rgb(155,48,20);
  font-family: Voces, cursive;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 576px) {
  #beliefs-title {
    color: rgb(155,48,20);
    font-family: Voces, cursive;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
}

#missions-heading {
  font-family: Quicksand, sans-serif;
  font-size: 25px;
  color: rgb(155,48,20);
  font-weight: 600;
}

#churches .p-top, #pastors .p-top, #members .p-top {
  font-size: 59px;
  font-family: 'The Girl Next Door', cursive;
  font-weight: 900;
  color: rgb(252,174,1);
  margin-bottom: 0px;
}

#churches .p-bottom, #pastors .p-bottom, #members .p-bottom {
  text-transform: uppercase;
  font-weight: bold;
}

#church-icon {
  color: rgb(155,48,20);
  opacity: 0.30;
  margin-top: 50px;
  margin-bottom: 50px;
}

#sermons-section-1 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#recent-s-heading {
  color: rgb(155,48,20);
  font-family: Voces, cursive;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 600;
}

@media (max-width: 576px) {
  #recent-s-heading {
    color: rgb(155,48,20);
    font-family: Voces, cursive;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
  }
}

#recent-s-subtitle {
  font-weight: 600;
  margin-bottom: 60px;
  font-size: 15px;
  text-transform: uppercase;
}

#single-r-sermon {
  background-color: #FBF9F9;
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  padding: 1rem;
}

#recent-s-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(155,48,20);
  font-size: 20px;
}

.recent-s-p {
  margin-bottom: 0px;
}

#single-sermon {
  margin-bottom: 32px;
}

#sermons-heading {
  color: rgb(155,48,20);
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-family: Voces, cursive;
}

#sermons-subheading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

#sermons-section-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#sermon-jumb {
  background-color: #fbf9f9;
  box-shadow: 0px 0px 33px rgba(51,51,51,0.3);
  width: 100%;
}

#media-body-jumb {
  margin-bottom: 0px;
  background-color: #fbf9f9;
  box-shadow: -1px 0px 33px rgba(51,51,51,0.3);
  padding: 16px;
}

#sermon-title {
  color: rgb(155,48,20);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: Voces, cursive;
}

#sermon-p {
  margin-top: 10px;
}

#sermon-v-of-w-title {
  color: rgba(51,51,51,0.60);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#sermon-v-of-w-verse {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sermon-v-of-w-bible {
  font-weight: 600;
  color: rgb(155,48,20);
}

#input-group-btn {
  background-color: rgb(155,48,20);
  border: 0px;
  color: #fbf9f9;
}

#input-group-btn:focus {
  outline: none;
  border: 0px;
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
  box-shadow: unset;
}

#search-input {
  border: 0px;
  box-shadow: 0px 0px 33px rgba(51,51,51,0.33);
}

#search-input.form-control {
  background-color: #FBF9F9;
}

#main-sermon {
  height: 35vh;
  background-image: url("../img/birds.png");
}

#main-sermon-heading {
  font-size: 40px;
  color: rgb(155,48,20);
  font-weight: 600;
  font-family: 'The Girl Next Door', cursive;
  text-transform: uppercase;
}

#sermon-content {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

#more-sermons-section {
  padding-top: 10px;
  padding-bottom: 50px;
  background-image: url("../img/birds.png");
  background-position: center;
  background-size: contain;
}

#listen-audio {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(155,48,20);
}

#single-more-sermons {
  margin-bottom: 32px;
  padding: 16px;
  background-color: rgb(251,249,249);
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
}

#single-m-s-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(155,48,20);
  font-size: 20px;
}

#recent-s-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(155,48,20);
  font-size: 20px;
  font-family: Voces, cursive;
}

#single-m-s-p {
  margin-top: 10px;
  margin-bottom: 0px;
}

#more-sermons-heading {
  font-size: 40px;
  font-weight: 600;
  color: rgb(155,48,20);
  text-transform: uppercase;
  font-family: 'The Girl Next Door', cursive;
}

#sermon-summary {
  line-height: 2rem;
}

#pictures-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.nav-pills .nav-link {
  color: #333;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

#giving-tab-card {
  background-color: #fbf9f9;
  box-shadow: 0px 0px 33px rgba(51, 51, 51, 0.23);
  border-radius: 10px;
}

#myTab {
  background-color: rgba(51,51,51,0.08) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgb(155,48,20) !important;
  color: #fbf9f9;
}

#testimony-card {
  background-color: rgb(251,249,249);
  box-shadow: -2px 0px 33px rgba(51,51,51, 0.23);
  margin-bottom: 2rem;
  border: 0px;
}

#testimony-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/birds.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#testimony-heading {
  color: rgb(252,174,1);
  font-size: 50px;
  font-family: 'The Girl Next Door', cursive;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#testimony-subtitle {
  font-weight: 600;
  color: #333;
  margin-bottom: 60px;
  font-size: 16px;
  text-transform: uppercase;
}

#about-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(155, 48, 20);
  font-family: Voces, cursive;
}

#testimony-p {
  margin-top: 10px;
}

#share-btn {
  border-radius: 30px;
  color: #9B3014;
  box-shadow: 0px 0px 20px rgba(51,51,51, 0.3);
  font-weight: 500;
  border: 2px solid #9B3014;
}

#share-btn:hover {
  background-color: #9B3014;
  color: #FBF9F9;
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
}

#all-testi-subheading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#all-testimonies-heading {
  font-size: 40px;
  font-weight: 600;
  color: rgb(155,48,20);
  font-family: 'The Girl Next Door', cursive;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#all-testimonies-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#single-all-testimonies {
  background-color: #FBf9f9;
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  border: 0px;
  margin-bottom: 32px;
}

#single-all-t-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(155, 48, 20);
}

#single-all-t-p {
  margin-top: 10px;
}

#share-testimony-jumb {
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  background-color: rgb(252,174,1);
  background-image: url("../img/birds.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

#share-test-heading {
  font-size: 40px;
  color: rgb(155, 48, 20);
  font-weight: 600;
  font-family: 'The Girl Next Door', cursive;
}

#share-test-p {
  color: #fbf9f9;
}

#giving-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#giving-title {
  color: rgb(252,174,1);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: 'The Girl Next Door', cursive;
  font-size: 50px;
}

#giving-subtitle {
  font-weight: 600;
  margin-bottom: 43px;
  font-size: 16px;
  text-transform: uppercase;
}

#single-main-testimony-heading {
  font-size: 40px;
  font-family: 'The Girl Next Door', cursive;
  font-weight: 600;
  color: rgb(155, 48, 20);
  text-transform: uppercase;
}

#shared-by-subheading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  #single-main-testimony-heading {
    font-size: 24px;
  }
}

#testimony-section-main {
  padding-top: 50px;
  line-height: 2rem;
  padding-bottom: 50px;
}

#testimony-content {
  padding-bottom: 20px;
}

#testimony-card {
  background-color: rgb(251,249,249);
  box-shadow: -2px 0px 33px rgba(51,51,51, 0.23);
  margin-bottom: 2rem;
  border: 0px;
}

#about-us-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/birds.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about-us-heading {
  color: rgb(155,48,20);
  font-size: 25px;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#testimony-subtitle {
  font-weight: 600;
  color: #333;
  margin-bottom: 60px;
  font-size: 16px;
  text-transform: uppercase;
}

#about-us-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(155, 48, 20);
}

#testimony-p {
  margin-top: 10px;
}

#share-title {
  color: #9B3014;
  margin-bottom: 20px;
  font-family: Voces, cursive;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 576px) {
  #share-title {
    color: #9B3014;
    margin-bottom: 20px;
    font-family: Voces, cursive;
    font-size: 20px;
    font-weight: 600;
  }
}

#share-btn {
  border-radius: 30px;
  color: #9B3014;
  box-shadow: 0px 0px 20px rgba(51,51,51, 0.3);
  font-weight: 500;
  border: 2px solid #9B3014;
}

#share-btn:hover {
  background-color: #9B3014;
  color: #FBF9F9;
  box-shadow: 0px 3px 10px 0px rgb(51,51,51);
}

#all-testi-subheading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#all-testimonies-heading {
  font-size: 40px;
  font-weight: 600;
  color: rgb(155,48,20);
  font-family: 'The Girl Next Door', cursive;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#all-testimonies-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#single-all-testimonies {
  background-color: #FBf9f9;
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  border: 0px;
  margin-bottom: 32px;
}

#single-all-t-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(155, 48, 20);
}

#single-all-t-p {
  margin-top: 10px;
}

#share-testimony-jumb {
  box-shadow: 0px 0px 33px rgba(51,51,51, 0.23);
  background-color: rgb(252,174,1);
  background-image: url("../img/birds.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

#share-test-heading {
  font-size: 40px;
  color: rgb(155, 48, 20);
  font-weight: 600;
  font-family: 'The Girl Next Door', cursive;
}

#share-test-p {
  color: #fbf9f9;
}

#giving-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#giving-title {
  color: rgb(155,48,20);
  text-transform: uppercase;
  margin-bottom: 0px;
  font-family: Voces, cursive;
  font-size: 25px;
  font-weight: 600;
}

#giving-subtitle {
  font-weight: 600;
  margin-bottom: 43px;
  font-size: 16px;
  text-transform: uppercase;
}

#share-testimony-heading {
  font-size: 25px;
  font-family: Voces, cursive;
  font-weight: 600;
  color: rgb(155, 48, 20);
  margin-bottom: 0px;
  text-transform: uppercase;
}

#share-testimony-subtitle {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

#share-form-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  #share-test-heading {
    font-size: 20px;
  }
}

#section-timeline .text-muted {
  color: #777;
}

section#section-timeline {
  padding: 100px 0;
}

section#section-timeline h2.section-heading {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

section#section-timeline h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width:768px) {
  section#section-timeline {
    padding: 0 0;
  }
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}

.timeline > li:after, .timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: rgb(252,174,1);
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p, .timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width:768px) {
  .timeline:before {
    left: 50%;
  }
}

@media (min-width:768px) {
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
}

@media (min-width:768px) {
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
}

@media (min-width:768px) {
  .timeline > li .timeline-image {
    width: 70px !important;
    height: 70px !important;
    left: 50%;
    margin-left: -37px !important;
  }
}

@media (min-width:768px) {
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
}

@media (min-width:768px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-panel, .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width:992px) {
  .timeline > li {
    min-height: 150px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image {
    width: 70px !important;
    height: 70px !important;
    margin-left: -37px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
}

@media (min-width:1200px) {
  .timeline > li {
    min-height: 170px;
  }
}

@media (min-width:1200px) {
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
}

@media (min-width:1200px) {
  .timeline > li .timeline-image {
    width: 70px !important;
    height: 70px !important;
    margin-left: -37px !important;
  }
}

@media (min-width:1200px) {
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
}

@media (min-width:1200px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.timeline .list-group-item {
  margin-bottom: 0;
  background-color: inherit;
  border: none;
}

.timeline h4 {
  font-size: 25px;
  color: rgb(252,174,1) !important;
  font-weight: 600;
  margin: 0px;
}

.timeline h4.subheading {
  color: rgb(155,48,20) !important;
  font-size: 16px;
  margin-bottom: 10px;
}

#verse-section {
  max-width: 100%;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: rgb(252,174,1);
  background-image: url("../img/birds.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#verse-of-week-h {
  color: rgb(155,48,20);
  text-transform: uppercase;
  font-family: Voces, cursive;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 576px) {
  #verse-of-week-h {
    color: rgb(155,48,20);
    text-transform: uppercase;
    font-family: Voces, cursive;
    font-size: 20px;
    font-weight: 600;
  }
}

#what-we-believe {
  padding-top: 50px;
}

#m-sermons-card {
  background-color: rgb(251,249,249);
  box-shadow: -2px 0px 33px rgba(51,51,51, 0.23);
  margin-bottom: 2rem;
  border: 0px;
  margin-bottom: 2rem;
}

#m-sermons-card-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(155, 48, 20);
  font-family: Voces, cursive;
}

#hero-card-link {
  text-decoration: none;
  text-transform: uppercase;
}

#hero-card-link:hover {
  text-decoration: none;
}

#c-about-us-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/birds.png");
  background-size: auto;
}

#about-image {
  border-radius: 5px;
  margin-bottom: 2rem;
}

